<!-- Begin MailChimp Signup Form -->
<hr>
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
     #mc-embedded-subscribe {
         clear: both;
         color: rgb(255, 255, 255);
         cursor: pointer;
         display: block;
         height: 32px;
         min-width: 90px;
         text-align: center;
         text-decoration: none solid rgb(255, 255, 255);
         vertical-align: top;
         white-space: nowrap;
         width: 247.484375px;
         align-items: flex-start;
         background: rgb(170, 170, 170) none repeat scroll 0% 0% / auto padding-box border-box;
         border: 0px none rgb(255, 255, 255);
         border-radius: 4px 4px 4px 4px;
         font: normal normal bold 15px/32px 'Lucida Grande';
         margin: 0px 0px 10px;
         outline: rgb(255, 255, 255) none 0px;
         padding: 0px;
     }/*#INPUT_1*/
</style>
<div id="mc_embed_signup" style="">
<form style="text-align: center" action="http://trevormckendrick.us6.list-manage1.com/subscribe/post?u=3efcf217ada61f516da7e0aeb&amp;id=f7999539a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to get non-boring business accounting tips.</label>
  <label style="font-weight:normal; font-size:13px;" for="mce-EMAIL">(E.g. You might be paying too much in business taxes.)</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="margin:0 auto;" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3efcf217ada61f516da7e0aeb_f7999539a6" tabindex="-1" value=""></div>

    <!-- <div class="clear"> -->
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-top:10px; margin-left:auto; margin-right:auto;">
    <!-- </div> -->
</div>

<!--End mc_embed_signup-->
